<html ng-app="myMod">
<head>
    <link href="https://cdn.iconscout.com/icon/free/png-512/weather-296-1100758.png" type="image/icon" rel="icon">
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Weather Forecast</title>
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="module1.js"></script>
<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body oncontextmenu='return false' class='snippet-body' ng-controller="myController">

<div class="container-fluid px-1 px-sm-3 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="row card0">
            <div class="card1 col-lg-8 col-md-7"> <small></small>
                <div class="text-center"> <img class="image mt-5" src="https://i.imgur.com/M8VyA2h.png"> </div>
                <div class="row px-3 mt-3 mb-3">
                    <h1 class="large-font mr-3">{{record.main.temp-273.15 | number:1}}&#176;C</h1>
                    <div class="d-flex flex-column mr-3">
                        <h2 class="mt-3 mb-0">{{name}}</h2> <small>{{myDate| date:"HH-mm-ss a"}} - {{myDate|date}}</small>
                    </div>
                    <div class="d-flex flex-column text-center">
                        <h3><img  ng-src="https://openweathermap.org/img/wn/{{record.weather[0].icon}}.png">
                    </div>
                </div>
            </div>
            <div class="card2 col-lg-4 col-md-5">
                <div class="row px-3"> <input type="text" ng-model="name" name="location" id="in" placeholder="Another location" class="mb-5">
                    <div class="fa fa-search mb-5 mr-0 text-center" ng-click="show()"> </div>
                </div>
                <div class="mr-5">
                    <p>Weather Details</p>
                    <div class="row px-3">
                        <p class="light-text">Description</p>
                        <p class="ml-auto">{{record.weather[0].description}}</p>
                    </div>
                    <div class="row px-3">
                        <p class="light-text">State/City</p>
                        <p class="ml-auto">{{record.name}}</p>
                    </div>
                    <div class="row px-3">
                        <p class="light-text">Temperature</p>
                        <p class="ml-auto">{{record.main.temp-273.15 | number:2}}<sup>o</sup>C</p>
                    </div>
                    <div class="row px-3">
                        <p class="light-text">Feels Like</p>
                        <p class="ml-auto">{{record.main.feels_like-273.15 | number:2}}<sup>o</sup>C</p>
                    </div>
                    <div class="row px-3">
                        <p class="light-text">Minimum Temperature</p>
                        <p class="ml-auto">{{record.main.temp_min-273.15 | number:2}}<sup>o</sup>C</p>
                    </div>
                    <div class="row px-3">
                        <p class="light-text">Maximum Temperature</p>
                        <p class="ml-auto">{{record.main.temp-273.15 | number:2}}<sup>o</sup>C</p>
                    </div>
                    <div class="line my-5"></div>
                    
                    <div class="row px-3">
                        <p class="light-text">Pressure</p>
                        <p class="ml-auto">{{record.main.pressure}}hPa</p>
                    </div>
                    <div class="row px-3">
                        <p class="light-text">Humidity</p>
                        <p class="ml-auto">{{record.main.humidity}}%</p>
                    </div>
                    <div class="row px-3">
                        <p class="light-text">Wind</p>
                        <p class="ml-auto">{{record.wind.speed}}m/s</p>
                    </div>
                    <div class="row px-3">
                        <p class="light-text">Clouds</p>
                        <p class="ml-auto">{{record.clouds.all}}%</p>
                    </div>
                    <div class="line mt-3"></div>
                                        <div class="mt-3" class="mx-auto"></div>
                    <div class="page-content page-container" id="page-content">
                        <div class="padding">
                            <div class="row container d-flex justify-content-center">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal-4" data-whatever="@fat"><i class="fa fa-bell"></i> Get information on your phone</button>
                                <div class="modal fade" id="exampleModal-4" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ModalLabel" style="color: black;">Write your message here</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                                            </div>
                                            <div class="modal-body">
                                                <grammarly-extension style="position: absolute; top: 0px; left: 0px; pointer-events: none;">
                                                    <div data-grammarly-part="highlights" style="position: absolute; top: 0px; left: 0px;">
                                                        <div style="box-sizing: content-box; top: 1px; left: 1px; width: 0px; height: 0px; position: relative; pointer-events: none; overflow: hidden; border: 0px; border-radius: 0px; padding: 0px; margin: 0px;">
                                                            <div style="position: absolute; top: 0px; left: 0px;">
                                                                <div style="height: 815px; width: 1440px;"></div>
                                                                <div style="position: absolute; top: 0px; left: 0px; height: 815px; width: 1440px;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-grammarly-part="button" style="position: absolute; top: 0px; left: 0px;">
                                                        <div style="box-sizing: content-box; top: 1px; left: 1px; width: 0px; height: 0px; position: relative; pointer-events: none; overflow: hidden; border: 0px; border-radius: 0px; padding: 0px; margin: 0px;">
                                                            <div style="position: absolute; transform: translate(-100%, -100%); top: -14px; left: -22px; pointer-events: all;">
                                                                <div style="display: flex; flex-direction: row;">
                                                                    <div class="_3-ITD">
                                                                        <div class="_5WizN aN9_b _1QzSN">
                                                                            <div class="_3YmQx">
                                                                                <div title="Protected by Grammarly" class="_3QdKe">&nbsp;</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </grammarly-extension>
                                                <form name="form">
                                                    <div class="form-group"> <label for="recipient-name" class="col-form-label" style="color: black;">State/City:</label> <input type="text" class="form-control" ng-disabled="true" value="{{record.name}}"> </div>
                                                    <div class="form-group"> <label for="recipient-name" class="col-form-label" style="color: black;">Description:</label> <input type="text" class="form-control" ng-disabled="true" value="{{record.weather[0].description}}"> </div>
                                                    <div class="form-group"> <label for="recipient-name" class="col-form-label" style="color: black;">Temperature:</label> <input type="text" class="form-control" ng-disabled="true" value="{{record.main.temp-273 | number : 0}}C"> </div>
                                                    <div class="form-group"> <label for="recipient-name" class="col-form-label" style="color: black;">Wind:</label> <input type="text" class="form-control" ng-disabled="true" value="{{record.wind.speed}}m/s"> </div>
                                                    <div class="form-group"> <label for="recipient-name" class="col-form-label" style="color: black;">Your phone number:</label> <input type="text" placeholder="+91" class="form-control" ng-pattern="/^[0-9]*$/" name="phone" ng-model="number" id="phone" required ng-minlength="10"> </div>
                                                    <div ng-show="form.phone.$touched && form.phone.$error.minlength">
                                                    <font color="red">10 numbers are mandate</font>
                                                    </div>
                                                    <div ng-show="form.phone.$touched && form.phone.$error.pattern">
                                                        <font color="red">Only Numbers allowed</font>
                                                    </div>

                                                    <div class="form-group"> <label for="message-text" class="col-form-label">Message:</label> <textarea ng-model="typeHere" placeholder="Write your message here ..(optional)" class="form-control" id="message-text" spellcheck="false"></textarea> </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer"> <button type="button" class="btn btn-success" ng-click="message()" ng-disabled="form.phone.$invalid">Send message</button> <button type="button" class="btn btn-light" data-dismiss="modal">Close</button> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
<script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
<script type='text/javascript'></script>
</body>
</html>
